* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
}


a {
    text-decoration: none;
    color: black;
}

.slider-icon img {
    background: black !important;
}

.top-ber {
    background: #683091;
    border-bottom: 4px solid rgba(172, 255, 47, 0.651);

}

.top-icon-1 a {
    padding: 5px;
    border: 1px solid blue;
    border-radius: 50%;
    background: rgb(252, 166, 54);
    font-size: 13px;
    color: #fff;
    display: inline-block;

}

.top-icon-2 a {
    padding: 4px 7px;
    border: 1px solid blue;
    border-radius: 50%;
    background: rgba(23, 167, 250, 0.856);
    font-size: 16px;
    color: #fff;
    display: inline-block;

}

.top-icon-3 a {
    padding: 5px;
    border: 1px solid blue;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.616);
    font-size: 16px;
    color: #fff;
    display: inline-block;

}

.top-icon-4 a {
    padding: 3px 5px;
    border: 1px solid blue;
    border-radius: 50%;
    background: rgba(22, 34, 199, 0.76);
    font-size: 18px;
    color: #fff;
    display: inline-block;

}

.top-icon-5 a {
    padding: 1px 8px;
    border: 1px solid blue;
    border-radius: 50%;
    background: rgba(22, 134, 199, 0.856);
    font-size: 20px;
    color: #fff;
    display: inline-block;

}

.top-section {
    display: grid;
    grid-template-columns: 35% 65%;
}

.top-bangla {
    padding: 5px 4px;
    border: 4px solid green;
    background: #fff;
    text-align: center;
    margin-right: 2px;
}

.carousel-item img {
    height: 300px;
}

/* ==========header manu ber========== */
.manu {
    border-top: 5px solid rgb(7, 204, 83);
}

.manu-ber ul li {
    margin-right: 1px;
    padding: 5px;
    border: 1px solid rgba(233, 202, 202, 0.151);
    background: rgba(233, 202, 202, 0.151);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 0px;
    color: black;
    transition: 1s;
}

.manu-ber ul li:last-child {
    margin-right: 0;
}

.manu-ber ul li:hover {
    background: rgb(252, 166, 54);
}

.manu-ber ul li a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.manu-ber ul li a:hover {
    color: black;
}

.dopdown {
    position: relative;
}

.dopdown-manu {
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: -33px;
    width: 200px;
    z-index: -1;
    opacity: 0;
    transition: 1.5s;
    transform: rotateY();
}

.dopdown:hover .dopdown-manu {
    visibility: visible;
    top: 30px;
    opacity: 1;
    z-index: 1
}

.dopdown-manu li {
    display: block;
    border-bottom: 1px solid red !important;
    background: #fff !important;
}

.dopdown-manu li:hover {
    color: #fff;
    background: rgb(252, 166, 54) !important;
    box-shadow: none;
}
.dopdown-manu li a {
    font-weight: 500 !important;
}
/*================== wigde pat css style================== */
.wiged {
    margin-top: 20px !important;
    padding: 10px;
    box-shadow: 1px 0px 0.5px 0.5px;
}
.wiged img {
    width: 100%;
    padding-top: 10px;
}
.prancipal{
    margin-top: 10px;
    background: #609513;
}
.prancipal h1{
    color: white;
    padding: 6px;
    font-size: 22px;
}
.prancipal-img img{
    width: 100%;
}
.prancipal-latter{
    background: rgba(238, 107, 14, 0.726);
    position: relative;
    padding: 10px 0px;
    height: 226px;
    margin-left: -15px;

}
.pancipal-h1{
    background: #609513;
    box-sizing: border-box;
    box-shadow: 1 1 7px 0.5px;
    margin: 0;
    padding: 0;
}
.pancipal-h1 h3{
    color: #ffdc81;
    margin: 2px 5px;
    font-size: 25px;
    padding: 5px;
}
.pancipal-h5{
    margin-left: 10px;
    color: rgba(247, 239, 239, 0.863);
}
.pancipal-h5 h5{
    margin: 0;
    font-size: 15px;
}
.pancipal-h5 a{
    font-size: 15px;
    color: rgba(247, 239, 239, 0.863);
}
.prancipal-latter img{
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 225px;
}
/* ===============prancipal-address css style=============== */
.prancipal-vice-address{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    color: rgba(0, 0, 0, 0.486);
}
/* ==================calender-pat css style================== */
.calender-inner {
    border: 1px solid #8ECF48;
    margin-bottom: 30px;
    margin-top: -20px;
    width: 320px;
}

.calender {
    width: 320px;
}

.calender-pat {
    background: #8ECF48;
}

.calender-latter {
    padding: 10px;
}

.calender-latter p {
    margin: 0;
    font-size: 20px;
    color: white;
}

.calender-img {
    text-align: right;
    padding: 10px;
}

/* ==============important-links css style============== */
.important-inner {
    background: #609513;
    padding: 3px;

}

.important-inner h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.important-links {
    border: 1px solid #bea398 !important;
    margin: 0.8em 0 0 !important;
    background: rgba(247, 247, 247, 0.79) !important;
}

.important-wiged li {
    padding: 0.2em 2% 0.2em 8%;
    border-bottom: 1px solid #d5bbb2;
    background: url(img/bullet6.png) no-repeat 2% center;
    color: #717171;
    font-size: 0.875em;
    line-height: 1.357em;
    width: 100%;

}

.important-wiged li a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.555);
}

.important-wiged li a:hover {
    color: rgb(245, 158, 87);
}

.important-wiged li:last-child {
    border-bottom: none;
}

/* ===============footer section css style=============== */
.footer-img img {
    width: 100%;
}

/* ===============fotter-address css style=============== */
.fotter-address {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.fotter-left {
    width: 100%;
    margin-top: 10px;
    border-right: 2px solid #353535;
    padding-right: 10px;
}

.fotter-wiged h1 {
    font-size: 20px;
    color: rgba(255, 60, 0, 0.781);
}

.fotter-wiged p {
    margin: 0;
    color: rgba(0, 0, 0, 0.562);
}

.fotter-wiged a {
    color: rgba(0, 0, 0, 0.562);
}

.fotter-wiged a:hover {
    color: rgba(0, 0, 0, 0.562);
}

.fotter-wiged a span {
    margin-right: 10px;
}

.fotter-wiged h5 a {
    display: block;
    margin-left: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #657dff;
}

.fotter-wiged h5 a:hover {
    color: rgba(255, 60, 0, 0.781);
}

.fotter-right {
    margin-top: 10px;
}

.fotter-right ul li {
    padding: 0 1em;
    float: left;
    line-height: 1.262em;
    border-left: 6px solid #353535;
    width: 46%;
    margin: 0 10px 10px 0;
    border-bottom: 1px dashed #353535;
}

.fotter-right ul li a {
    color: #4e4b4b;
    font-size: 12px;
}

.fotter-img {
    text-align: right;
}